.cover {
  margin: 0;
  background-image: url(/public/images/cover.jpeg);
  background-image: fixed;
  background-color: #cccccc;
  height: 600px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
