body {
  margin: 0;
  background-color: #94a7c8;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 7px 10px;
  min-width: 120px;
  margin: 10px;
  font-size: 18px;
  background-color: #facf39;
  color: #5f8cc3;
  border: none;
  transition-duration: 0.4s;
  border-radius: 8px;
  cursor: pointer;
  border: #facf39 solid 1px;
}

button:hover {
  background-color: #4caf4f00; /* Green */
  color: white;
  border: #facf39 solid 1px;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.Navbar {
  background: #515f7d;
  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

.Navbar li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.card {
  display: block;
  color: white;
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}

.card:hover {
  background-color: #3f71afa9;
}

.card h1 {
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000;
}

.RideCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}

.EditRidePage,
.AddRide,
.AddVehicle {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.EditRidePage {
  background-color: rgb(239, 196, 88);
}

.EditRidePage form,
.AddRide form,
.AddVehicle form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddRide button,
.AddVehicle button {
  display: block;
}

.RideCard {
  background-color: #3f72af;
}

.loginPage,
.signupPage,
.ProfilePage,
.AddVehicle,
.VehiclePage {
  background-color: #3f72af;
  width: 400px;
  border-radius: 8px;
  margin: 50px auto;
  padding: 10px 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.addRide {
  background-color: #3f72af;
  width: 400px;
  border-radius: 8px;
  margin: 50px auto;
  padding: 10px 20px;
}

#intervalOfRide option {
  width: 90%;
}

label {
  color: #fff;
  font-size: 1.3em;
  justify-content: left;
  display: flex;
  margin: 10px;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}
input {
  width: 90%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.listContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px;
  text-decoration: none;
}

.listRides {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

 