body {
  margin: 0;
  background-color: #94a7c8;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 7px 10px;
  min-width: 120px;
  margin: 10px;
  font-size: 18px;
  background-color: #facf39;
  color: #294e7ca9;
  border: none;
  transition-duration: 0.4s;
  border-radius: 8px;
  cursor: pointer;
  border: #facf39 solid 1px;
  box-shadow: 1px 1px 3px #000000;
}

button:hover {
  border: #facf39 solid 1px;
  box-shadow: 1px 1px 10px #000000;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.card {
  display: block;
  color: white;
  width: 400px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 30px;
}

.card:hover {
  background-color: #3f71afa9;
}

h1 {
  color: #facf39;
  text-shadow: 1px 1px 5px #000000;
}

.RideCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}

.AddRide button,
.AddVehicle button {
  display: block;
}

.RideCard {
  background-color: #3f72af;
}

.editRidePage,
.rideDetails,
.loginPage,
.signupPage,
.ProfilePage,
.addVehicle,
.vehiclePage,
.addRide {
  background-color: #3f72af;
  width: 400px;
  border-radius: 8px;
  margin: 50px auto;
  padding: 10px 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.rideDetails {
  background-color: #3f72af;
  color: rgb(211, 207, 207);
  width: 500px;
  border-radius: 8px;
  margin: 50px auto;
  padding: 10px 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.image {
  border-radius: 30px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 95%;
  height: 300px;
  object-fit: cover;
}

.image2 {
  padding: 0px 0px 0px 20px;
}

label {
  color: #fff;
  font-size: 1.3em;
  justify-content: left;
  display: flex;
  margin: 10px;
  font-weight: bold;
  transition: 0.5s ease-in-out;
}
input {
  width: 90%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.listContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px;
  text-decoration: none;
}

.listRides {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

#intervalOfRides,
#driver,
#probationaryDriver,
#vehicle,
#seats,
.submit {
  width: 95%;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
}

th {
  padding: 7px;
  text-align: right;
}

td {
  padding: 7px;
  text-align: left;
  padding-right: 50px;
}
